## I. Import Libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sqlalchemy import create_engine

data = pd.read_csv('C:/Users/ryana/Documents/Github/2020-2021-Deped-Schools-Masterlist/dataset/SY-2020-2021-Masterlist-of-Schools.csv')
data.sample(5)

,region,division,district,beis_school_id,school_name,street_address,municipality,legislative_district,barangay,sector,urban_rural_classification,school_subclassification,modified_curricural_offering_lassification
23633,Region V,Masbate,Placer East,113836,Tomas M. Conde CS,Estonilo St.,PLACER,3rd District,POBLACION,Public,Partially Ur,bDaenpED Managed,Purely ES
11126,Region III,Tarlac City,Tarlac Central,District 401990,"St. Paul College of Tarlac, Tarlac City, Inc.","V&S Bldg. Cut-cut I, Tarlac City",CITY OF TARLAC (Capital),2nd District,CUT-CUT I,Private,Partially Ur,bSeacntarian,Purely SHS
16116,Region IV-A,Cavite City,Cavite City I Di,strict 301484,Cavite National High School,"Chief E. Martin Street, Caridad, Cavite City",CAVITE CITY,1st District,BARANGAY 41 (ROSAL),Public,Urban,DepED Managed,JHS with SHS
39288,Region IX,Zamboanga del Norte,Godod,124273,Baluno ES,NaN,GODOD,3rd District,BALUNO,Public,Partially Ur,bDaenpED Managed,Purely ES
29015,Region VI,Bacolod City,Bacolod City II,District 117456,Bata ES II,Purok Tunay,BACOLOD CITY (Capital),Lone District,BATA,Public,Urban,DepED Managed,Purely ES

In [2]:
data.shape

(60924, 13)

## II. Preprocessing

### Duplicate Values

In [3]:
data.duplicated().sum()

np.int64(0)

### Null Values

In [4]:
data.isnull().sum()

region                                           0
division                                         0
district                                         0
beis_school_id                                   0
school_name                                      0
street_address                                1750
municipality                                     0
legislative_district                             0
barangay                                        51
sector                                           0
urban_rural_classification                       0
school_subclassification                         0
modified_curricural_offering_lassification       0
dtype: int64

### Standardize Format

In [5]:
data.dtypes

region                                        object
division                                      object
district                                      object
beis_school_id                                object
school_name                                   object
street_address                                object
municipality                                  object
legislative_district                          object
barangay                                      object
sector                                        object
urban_rural_classification                    object
school_subclassification                      object
modified_curricural_offering_lassification    object
dtype: object

In [6]:
locations = ['division','district','school_name','street_address','municipality','barangay']

for column in locations:
    data[column] = data[column].str.replace("Ã‘", "Ñ").str.strip().str.title()

#### BEIS School ID

In [7]:
data['beis_school_id'] = data['beis_school_id'].str.strip().str.replace(r'[^0-9]', '', regex=True).astype(int)

In [8]:
data.duplicated(subset='beis_school_id').sum()

np.int64(0)

In [9]:
data['beis_school_id'].dtypes

dtype('int64')

#### Division

In [10]:
division = pd.DataFrame(data['division'].value_counts()).reset_index()
list_typo = division[division['count'] < 3]['division'].values

list_typo

array([], dtype=object)

#### Region

In [11]:
data['region'].unique()

array(['Region I', 'Region II', 'Region III', 'Region IV-A',
       'Region IV-B', 'Region V', 'Region VI', 'Region VII',
       'Region VIII', 'Region IX', 'Region X', 'Region XI', 'Region XII',
       'CARAGA', 'BARMM', 'CAR', 'NCR'], dtype=object)

#### Municipality

In [12]:
municipality = pd.DataFrame(data['municipality'].value_counts()).reset_index()
list_typo = municipality[municipality['count'] < 3]['municipality'].values

list_typo

array(['Carasi', 'Ec Citityy Of Parañaque',
       'Ornotdalrbiagnu, Erziz (Amlontalban)',
       'Acsi Tcyit Oy,F C Gaveinteeral Trias', 'Nceabuyao',
       'Northern Kabuntalan', 'Ncaity Of Calamba',
       'Ictyity Of Mandaluyong', 'Ecsitt Yc Iotyf Muntinlupa',
       'Nceitssy Poafrk Muntinlupa', ',City Of Mandaluyong',
       'Octitey R Od.F, Llaass Ppiiññaas', 'Otbaagl Uciitgy City',
       'Pcait Cyi Toyf Muntinlupa', 'Nq,U Neozrothn F Caiitrvyiew',
       'Bkigaalookan City', ',C Caavviittee City', 'Ac Raiiznatla',
       'Ocraog Caiytya,N M Dise Oro City (Capital)',
       'Scinitayn Of Urdaneta', 'Nsaan Pedro', 'Liilgiagna Cnit Cyity',
       'Tdyavao City', 'Cdt Davavaaoo Cciittyy', 'Llupon',
       'Ictiyt,Y L Oafg Usannata Rosa', 'Obra, Ccaovoitre',
       'Acity Of Biñan', 'Eiligan City', 'Ccitiyty Of Panabo',
       'As, Abnutlaac Amnaria', 'Ggmean,. Cmaavirteiano Alvarez',
       'Acciatny Of San Jose Del Monte',
       'Tcy,I Tpya Mofp Asnagna Fernando (Capital)',
       'Itmy,A Pbaamlapacnagta City', 'Uclaitcya Nof San Jose Del Monte',
       'Lcaictayn Of San Jose Del Monte', 'Icjaabanatuan City',
       'Oonelongapo City', 'Unraga City', 'Tlaal Castellana',
       'Qciutye (Zion Nfr Ocnitty', 'Tyquezon City',
       'Uqeuzoenzo Cnit Ycity', 'Qityuezon City', 'Icgi Tcyit Yof Pasig',
       'Tcyity Of Makati', 'Cpiatryk O2F Muntinlupa'], dtype=object)

In [13]:
corrections = {
    'Ec Citityy Of Parañaque':'City of Parañaque',
    'Ornotdalrbiagnu, Erziz (Amlontalban)':'Rodriguez (Montalban)',    
    'Acsi Tcyit Oy,F C Gaveinteeral Trias':'City of General Trias', 
    'Nceabuyao':'Cabuyao',
    'Ncaity Of Calamba':'City of Calamba',
    'Ictyity Of Mandaluyong':'City of Mandaluyong', 
    'Ecsitt Yc Iotyf Muntinlupa':'City of Muntinlupa',
    'Nceitssy Poafrk Muntinlupa':'City of Muntinlupa', 
    ',City Of Mandaluyong':'City of Mandaluyong',
    'Octitey R Od.F, Llaass Ppiiññaas':'City Of Las Piñas',
    'Otbaagl Uciitgy City':'Taguig City',
    'Pcait Cyi Toyf Muntinlupa':'City of Muntinlupa', 
    'Nq,U Neozrothn F Caiitrvyiew':'Quezon City',
    'Bkigaalookan City':'Kalookan City', 
    ',C Caavviittee City':'Cavite City', 
    'Ac Raiiznatla':'Cainta',
    'Ocraog Caiytya,N M Dise Oro City (Capital)':'Cagayan De Oro City (Capital)',
    'Scinitayn Of Urdaneta':'City of Urdaneta', 
    'Nsaan Pedro':'San Pedro', 
    'Liilgiagna Cnit Cyity':'Iligan City',
    'Tdyavao City':'Davao City', 
    'Cdt Davavaaoo Cciittyy':'Davao City', 
    'Llupon':'Lupon',
    'Ictiyt,Y L Oafg Usannata Rosa':'City of Santa Rosa', 
    'Obra, Ccaovoitre':'Bacoor',
    'Acity Of Biñan':'City of Biñan', 
    'Eiligan City':'Iligan City', 
    'Ccitiyty Of Panabo':'City of Panabo',
    'As, Abnutlaac Amnaria':'Santa Maria', 
    'Ggmean,. Cmaavirteiano Alvarez':'Gen. Mariano Alvarez',   
    'Acciatny Of San Jose Del Monte':'City of San Jose Del Monte',
    'Tcy,I Tpya Mofp Asnagna Fernando (Capital)':'City of San Fernando (Capital)',
    'Itmy,A Pbaamlapacnagta City':'Mabalacat City', 
    'Uclaitcya Nof San Jose Del Monte':'City of San Jose Del Monte',
    'Lcaictayn Of San Jose Del Monte':'City of San Jose Del Monte', 
    'Icjaabanatuan City':'Cabanatuan City',
    'Oonelongapo City':'Olongapo City', 
    'Unraga City':'Naga City', 
    'Tlaal Castellana':'La Castellana',
    'Qciutye (Zion Nfr Ocnitty':'Quezon City', 
    'Tyquezon City':'Quezon City',
    'Uqeuzoenzo Cnit Ycity':'Quezon City', 
    'Qityuezon City':'Quezon City', 
    'Icgi Tcyit Yof Pasig':'City of Pasig',
    'Tcyity Of Makati':'City of Makati', 
    'Cpiatryk O2F Muntinlupa':'City of Muntinlupa'
}

data['municipality'] = data['municipality'].replace(corrections).str.strip().str.title()

#### Legistlative District

In [14]:
data['legislative_district'].unique()

array(['1st District', '2nd District', '3rd District', '5th District',
       '6th District', '4th District', 'Lone District', '7th District'],
      dtype=object)

#### Sector

In [15]:
data['sector'].unique()

array(['Public', 'Private', 'SUCs/LUCs'], dtype=object)

#### Urban Rural Classification

In [16]:
data['urban_rural_classification'].unique()

array(['Partially Ur', 'Rural', 'Urban'], dtype=object)

In [17]:
data['urban_rural_classification']= data['urban_rural_classification'].str.replace('Partially Ur','Partially Urbanized')

#### School Subclassification

In [18]:
data['school_subclassification'].unique()

array(['bDaenpED Managed', 'bSeacntarian', 'bNaonn-Sectarian',
       'Sectarian', 'DepED Managed', 'bSUanC Managed', 'bDaOnST Managed',
       'Non-Sectarian', 'SUC Managed', 'LUC', 'bOatnher GA Managed',
       'bLoacnal Government', 'Local Government', 'bLUanC',
       'DOST Managed', 'Other GA Managed',
       'bLoacnal International School'], dtype=object)

In [19]:
correct_sub = {
    'bDaenpED Managed':'DepED Managed', 
    'bSeacntarian':'Sectarian', 
    'bNaonn-Sectarian':'Non-Sectarian',
    'bSUanC Managed':'SUC Managed', 
    'bDaOnST Managed':'DOST Managed',
    'bLUanC':'LUC',
    'bOatnher GA Managed':'Other GA Managed',
    'bLoacnal Government':'Local Government',
    'bLoacnal International School':'Local International School'
}

data['school_subclassification'] = data['school_subclassification'].replace(correct_sub)

#### Modified Curricural Offering Classification

In [20]:
data['modified_curricural_offering_lassification'].unique()

array(['Purely ES', 'JHS with SHS', 'ES and JHS (K to 10)',
       'All Offering (K to 12)', 'Purely JHS', 'Purely SHS'], dtype=object)

In [21]:
data.to_csv('cleaned-SY-2020-2021-Masterlist-of-Schools.csv', index=False, encoding='utf-8')

## III. Database Design and Import

Label Encoding is used to simulate Primary and Foreign Keys in the dataset. The table would then be split into parts according to database design.

In [22]:
object_column = ['region', 'division', 'district', 'municipality', 'legislative_district', 'barangay',
       'sector', 'urban_rural_classification', 'school_subclassification',
       'modified_curricural_offering_lassification']

encoder = LabelEncoder()

model_data = data.copy()

for column in object_column:
    model_data[f'{column}_id'] = encoder.fit_transform(model_data[column])
    model_data[f'{column}_id'] = model_data[f'{column}_id'].apply(lambda x: x + 1)

model_data.head(5)

,region,division,district,beis_school_id,school_name,street_address,municipality,legislative_district,barangay,sector,...,region_id,division_id,district_id,municipality_id,legislative_district_id,barangay_id,sector_id,urban_rural_classification_id,school_subclassification_id,modified_curricural_offering_lassification_id
0,Region I,Ilocos Norte,Bacarra I,100001,Apaleng-Libtong Es,"Brgy. 21, Libtong, Bacarra, Ilocos Norte",Bacarra,1st District,Libtong,Public,...,5,90,125,84,1,11465,2,1,2,4
1,Region I,Ilocos Norte,Bacarra I,100002,Bacarra Ces,Santa Rita,Bacarra,1st District,Santa Rita (Pob.),Public,...,5,90,125,84,1,19144,2,1,2,4
2,Region I,Ilocos Norte,Bacarra I,100003,Buyon Es,None,Bacarra,1st District,Buyon,Public,...,5,90,125,84,1,4507,2,1,2,4
3,Region I,Ilocos Norte,Bacarra I,100004,Ganagan Elementary School,"#37 Ganagan,Bacarra, Ilocos Norte",Bacarra,1st District,Ganagan,Public,...,5,90,125,84,1,8567,2,1,2,4
4,Region I,Ilocos Norte,Bacarra I,100005,Macupit Es,Macupit,Bacarra,1st District,Macupit,Public,...,5,90,125,84,1,12508,2,1,2,4

### Region

In [23]:
region = pd.DataFrame(data['region'].unique()).drop_duplicates().reset_index(drop=True)
region = region.reset_index().rename(columns={0:'region', 'index':'region_id'})

region['region_id'] = region['region_id'].apply(lambda x: x + 1)
region.head()

   region_id       region
0          1     Region I
1          2    Region II
2          3   Region III
3          4  Region IV-A
4          5  Region IV-B

### Division

In [24]:
division = data[['division',
                 'region']].merge(region, 
                                  on=['region'], 
                                  how='left').drop_duplicates(subset=['division',
                                                                      'region']).reset_index(drop=True)

division = division.reset_index().rename(columns={'index':'division_id'})
division['division_id'] = division['division_id'].apply(lambda x: x + 1)

division = division[['division_id','division','region_id']]

division.head(5)

   division_id                  division  region_id
0            1              Ilocos Norte          1
1            2                Ilocos Sur          1
2            3                  La Union          1
3            4    Pangasinan I, Lingayen          1
4            5  Pangasinan Ii, Binalonan          1

### District

In [25]:
district = data[['division',
                 'district']].merge(division[['division_id','division']], 
                                  on=['division'], 
                                  how='left').drop_duplicates(subset=['division',
                                                                      'district']).reset_index(drop=True)

district = district.reset_index().rename(columns={'index':'district_id'})
district['district_id'] = district['district_id'].apply(lambda x: x + 1)

district = district[['district_id','district','division_id']]

district.head(5)

   district_id        district  division_id
0            1       Bacarra I            1
1            2      Bacarra Ii            1
2            3           Badoc            1
3            4          Bangui            1
4            5  Banna (Espirit            1

### Legislative District

In [26]:
legislative_district = pd.DataFrame(data['legislative_district'].unique()).drop_duplicates().sort_values(0).reset_index(drop=True)

legislative_district = legislative_district.reset_index().rename(columns={0:'legislative_district', 'index':'legislative_district_id'})

legislative_district['legislative_district_id'] = legislative_district['legislative_district_id'].apply(lambda x: x + 1)
legislative_district

   legislative_district_id legislative_district
0                        1         1st District
1                        2         2nd District
2                        3         3rd District
3                        4         4th District
4                        5         5th District
5                        6         6th District
6                        7         7th District
7                        8        Lone District

### Municipality

In [112]:
municipality = data[['municipality','district','legislative_district']].drop_duplicates(subset=['municipality','district','legislative_district'])\
                        .merge(district[['district','district_id']], on=['district'], how='left')\
                        .merge(legislative_district, on=['legislative_district'], how='left')\
                        .reset_index(drop=True)

municipality = municipality.reset_index().rename(columns={'index':'municipality_id'})
municipality['municipality_id'] = municipality['municipality_id'].apply(lambda x: x + 1)

municipality = municipality[['municipality_id','municipality','district_id','legislative_district_id']]
municipality.head(5)

   municipality_id municipality  district_id  legislative_district_id
0                1      Bacarra            1                        1
1                2      Dingras            1                        2
2                3    Nueva Era            1                        2
3                4     Pasuquin            1                        1
4                5       Pinili            1                        2

### Barangay

In [58]:
barangay = data[['barangay','municipality']].merge(municipality[['municipality','municipality_id']], 
                                                   on='municipality', 
                                                   how='left')\
                                            .drop_duplicates(subset=['barangay','municipality'])\
                                            .reset_index(drop=True)

barangay = barangay.reset_index().rename(columns={'index':'barangay_id'})
barangay['barangay_id'] = barangay['barangay_id'].apply(lambda x: x + 1)

barangay = barangay[['barangay_id','barangay','municipality_id']]
barangay.head(5)

   barangay_id           barangay  municipality_id
0            1            Libtong                1
1            2  Santa Rita (Pob.)                1
2            3              Buyon                1
3            4            Ganagan                1
4            5            Macupit                1

### Sector

In [ ]:
sector = model_data[['sector_id','sector']].drop_duplicates()

sector

     sector_id     sector
0            2     Public
14           1    Private
589          3  SUCs/LUCs

In [44]:
sector = pd.DataFrame(data['sector'].unique()).reset_index(drop=True)
sector = sector.reset_index().rename(columns={0:'sector','index':'sector_id'})

sector['sector_id'] = sector['sector_id'].apply(lambda x: x + 1)
sector

   sector_id     sector
0          1     Public
1          2    Private
2          3  SUCs/LUCs

### Urban/Rural Classification (Location Type)

In [49]:

location_type = pd.DataFrame(data['urban_rural_classification'].unique()).reset_index(drop=True)
location_type = location_type.reset_index()\
                             .rename(columns={0:'location_type',
                                              'index':'location_id'})

location_type['location_id'] = location_type['location_id'].apply(lambda x: x + 1)
location_type

   location_id        location_type
0            1  Partially Urbanized
1            2                Rural
2            3                Urban

### School Subclassification

In [51]:
school_subclassification = pd.DataFrame(data['school_subclassification'].unique()).reset_index(drop=True)
school_subclassification = school_subclassification.reset_index()\
                             .rename(columns={0:'subclassification',
                                              'index':'subclassification_id'})

school_subclassification['subclassification_id'] = school_subclassification['subclassification_id'].apply(lambda x: x + 1)
school_subclassification

   subclassification_id           subclassification
0                     1               DepED Managed
1                     2                   Sectarian
2                     3               Non-Sectarian
3                     4                 SUC Managed
4                     5                DOST Managed
5                     6                         LUC
6                     7            Other GA Managed
7                     8            Local Government
8                     9  Local International School

### Modified Curricular Offering Classification

In [53]:
modified_curricular_offering_classification = pd.DataFrame(data['modified_curricural_offering_lassification'].unique()).reset_index(drop=True)
modified_curricular_offering_classification = modified_curricular_offering_classification.reset_index()\
                             .rename(columns={0:'offering_classification',
                                              'index':'offering_id'})

modified_curricular_offering_classification['offering_id'] = modified_curricular_offering_classification['offering_id'].apply(lambda x: x + 1)
modified_curricular_offering_classification

   offering_id offering_classification
0            1               Purely ES
1            2            JHS with SHS
2            3    ES and JHS (K to 10)
3            4  All Offering (K to 12)
4            5              Purely JHS
5            6              Purely SHS

### School Information

In [ ]:
school = model_data[['beis_school_id',
               'school_name',
               'street_address',
               'barangay_id',
               'sector_id',
               'urban_rural_classification_id',
               'school_subclassification_id',
               'modified_curricural_offering_lassification_id']].drop_duplicates()

school = school.rename(columns={'urban_rural_classification_id':'location_id',
                                'school_subclassification_id':'subclassification_id',
                                'modified_curricural_offering_lassification_id':'offering_id'})
school.head(5)

,beis_school_id,school_name,street_address,barangay_id,sector_id,location_id,subclassification_id,offering_id
0,100001,Apaleng-Libtong Es,"Brgy. 21, Libtong, Bacarra, Ilocos Norte",11465,2,1,2,4
1,100002,Bacarra Ces,Santa Rita,19144,2,1,2,4
2,100003,Buyon Es,None,4507,2,1,2,4
3,100004,Ganagan Elementary School,"#37 Ganagan,Bacarra, Ilocos Norte",8567,2,1,2,4
4,100005,Macupit Es,Macupit,12508,2,1,2,4

In [ ]:
barangay_municipality = barangay.merge(municipality, on='municipality_id', how='left')\
                            [['barangay','barangay_id','municipality']]


school = data[['beis_school_id',
               'school_name',
               'street_address',
               'barangay',
               'municipality',
               'sector',
               'urban_rural_classification',
               'school_subclassification',
               'modified_curricural_offering_lassification']]\
            .merge(barangay_municipality, on=['barangay','municipality'], how='left')\
            .merge(sector, on='sector', how='left')\
            .merge(location_type, left_on='urban_rural_classification', right_on='location_type', how='left')\
            .merge(school_subclassification, left_on='school_subclassification', right_on='subclassification', how='left')\
            .merge(modified_curricular_offering_classification, left_on='modified_curricural_offering_lassification', right_on='offering_classification', how='left')\
            .drop_duplicates(subset=['beis_school_id','school_name',
                                     'street_address','barangay',
                                     'municipality','sector',
                                     'urban_rural_classification','school_subclassification',
                                     'modified_curricural_offering_lassification'])\
            .reset_index(drop=True)

school = school[['beis_school_id', 'school_name',
                 'street_address','barangay_id',
                 'sector_id','location_id',
                 'subclassification_id','offering_id']]
school.head(5)

,beis_school_id,school_name,street_address,barangay_id,sector_id,location_id,subclassification_id,offering_id
0,100001,Apaleng-Libtong Es,"Brgy. 21, Libtong, Bacarra, Ilocos Norte",1,1,1,1,1
1,100002,Bacarra Ces,Santa Rita,2,1,1,1,1
2,100003,Buyon Es,None,3,1,1,1,1
3,100004,Ganagan Elementary School,"#37 Ganagan,Bacarra, Ilocos Norte",4,1,1,1,1
4,100005,Macupit Es,Macupit,5,1,1,1,1

In [113]:
test = school\
            .merge(barangay, on='barangay_id', how='left')\
            .merge(sector, on='sector_id', how='left')\
            .merge(location_type, on='location_id', how='left')\
            .merge(school_subclassification,on='subclassification_id', how='left')\
            .merge(modified_curricular_offering_classification, on='offering_id', how='left')\
            .merge(municipality, on='municipality_id', how='left')\
            .merge(legislative_district, on='legislative_district_id', how='left')\
            .merge(district, on='district_id', how='left')\
            .merge(division, on='division_id', how='left')\
            .merge(region, on='region_id', how='left')\
            .reset_index(drop=True)

test = test[[   'region',
                'division',
                'district',
                'beis_school_id',
                'school_name' ,
                'street_address',
                'municipality',
                'legislative_district',
                'barangay', 
                'sector',
                'location_type',
                'subclassification',
                'offering_classification']]
test.to_csv('test.csv',index=False, encoding='utf-8')

In [ ]:
username = 'postgres'
password = 'gelo120601'

connection_string = f'postgresql://{username}:{password}@localhost/deped_masterlist'
db = create_engine(connection_string)
conn = db.connect()

files = {'region':region, 
         'division':division, 
         'district':district, 
         'legislative_district':legislative_district, 
         'municipality':municipality, 
         'barangay':barangay, 
         'sector':sector, 
         'location_type':location_type,
         'school_subclassification':school_subclassification, 
         'modified_curricular_offering_classification':modified_curricular_offering_classification, 
         'school':school}

for df_name, df in files.items():
    df.to_sql(df_name, con=conn, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "division_pkey"
DETAIL:  Key (division_id)=(175) already exists.

[SQL: INSERT INTO division (division_id, division, region_id) VALUES (%(division_id__0)s, %(division__0)s, %(region_id__0)s), (%(division_id__1)s, %(division__1)s, %(region_id__1)s), (%(division_id__2)s, %(division__2)s, %(region_id__2)s), (%(division_id__ ... 13430 characters truncated ... (division__221)s, %(region_id__221)s), (%(division_id__222)s, %(division__222)s, %(region_id__222)s)]
[parameters: {'region_id__0': 5, 'division_id__0': 90, 'division__0': 'Ilocos Norte', 'region_id__1': 5, 'division_id__1': 91, 'division__1': 'Ilocos Sur', 'region_id__2': 5, 'division_id__2': 104, 'division__2': 'La Union', 'region_id__3': 5, 'division_id__3': 159, 'division__3': 'Pangasinan I, Lingayen', 'region_id__4': 5, 'division_id__4': 160, 'division__4': 'Pangasinan Ii, Binalonan', 'region_id__5': 5, 'division_id__5': 64, 'division__5': 'Dagupan City', 'region_id__6': 5, 'division_id__6': 110, 'division__6': 'Laoag City', 'region_id__7': 5, 'division_id__7': 174, 'division__7': 'San Carlos City', 'region_id__8': 5, 'division_id__8': 213, 'division__8': 'Urdaneta City', 'region_id__9': 5, 'division_id__9': 50, 'division__9': 'Candon City', 'region_id__10': 5, 'division_id__10': 5, 'division__10': 'Alaminos City', 'region_id__11': 5, 'division_id__11': 216, 'division__11': 'Vigan City', 'region_id__12': 5, 'division_id__12': 175, 'division__12': 'San Fernando City', 'region_id__13': 5, 'division_id__13': 20, 'division__13': 'Batac City', 'region_id__14': 6, 'division_id__14': 21, 'division__14': 'Batanes', 'region_id__15': 6, 'division_id__15': 41, 'division__15': 'Cagayan', 'region_id__16': 6, 'division_id__16': 96 ... 569 parameters truncated ... 'division_id__206': 196, 'division__206': 'Tabuk City', 'region_id__207': 4, 'division_id__207': 62, 'division__207': 'City Of San Juan', 'region_id__208': 4, 'division_id__208': 142, 'division__208': 'Navotas', 'region_id__209': 4, 'division_id__209': 128, 'division__209': 'Manila', 'region_id__210': 4, 'division_id__210': 167, 'division__210': 'Quezon City', 'region_id__211': 4, 'division_id__211': 162, 'division__211': 'Pasay City', 'region_id__212': 4, 'division_id__212': 46, 'division__212': 'Caloocan City', 'region_id__213': 4, 'division_id__213': 126, 'division__213': 'Mandaluyong City', 'region_id__214': 4, 'division_id__214': 130, 'division__214': 'Marikina City', 'region_id__215': 4, 'division_id__215': 122, 'division__215': 'Makati City', 'region_id__216': 4, 'division_id__216': 163, 'division__216': 'Pasig City', 'region_id__217': 4, 'division_id__217': 161, 'division__217': 'Paranaque City', 'region_id__218': 4, 'division_id__218': 112, 'division__218': 'Las Piñas City', 'region_id__219': 4, 'division_id__219': 215, 'division__219': 'Valenzuela City', 'region_id__220': 4, 'division_id__220': 123, 'division__220': 'Malabon City', 'region_id__221': 4, 'division_id__221': 200, 'division__221': 'Taguig', 'region_id__222': 4, 'division_id__222': 140, 'division__222': 'Muntinlupa City'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)